<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.rojoyazul.com.android_app_project_movile">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SubjectSelectionActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.rojoyazul.com.android_app_project_movile.MainActivity" />
        </activity>
        <activity
            android:name=".ActivityLesion"
            android:label="@string/app_name"
            android:parentActivityName=".SubjectSelectionActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.rojoyazul.com.android_app_project_movile.SubjectSelectionActivity" />
        </activity>
        <activity
            android:name=".LessonContentActivity"
            android:label="@string/app_name"
            android:parentActivityName=".ActivityLesion">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.rojoyazul.com.android_app_project_movile.ActivityLesion" />
        </activity>
        <activity
            android:name=".MyWelcomeActivity"
            android:theme="@style/WelcomeScreenTheme" />
    </application>

</manifest>